# RPC endpoint (e.g., http://127.0.0.1:8545 or https://rpc.testnet.example)
RPC_URL=
# Private key of the account that will send transactions (DO NOT COMMIT)
PRIVATE_KEY=
# Deployed contract address
CONTRACT_ADDRESS=
# Meter identifier (string)
METER_ID=MTR-001
# Interval in seconds to send readings
INTERVAL_SEC=60
# Starting kWh value
START_KWH=1000
